@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
:root {
  --nav-spacing: 1.5em;
}
html, body {
  font-family: 'Noto Sans', sans-serif;
}
a {
  color: #0455ac;
}
.nav-name-title {
  font-size: 8pt;
}
.nav-header-container {
  display: flex;
  flex-direction: row;
  height: 8vh;
  align-items: center;
}
.navbar-toggler {
  display: none;
  border: none;
}
.navbar-collapse {
  align-items: flex-start;
}
.navbar {
  padding: 0;
  width: 16em;
  background-color: #222 !important;
  -webkit-box-shadow: -6px 0px 19px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: -6px 0px 19px 4px rgba(0,0,0,0.75);
  box-shadow: -6px 0px 19px 4px rgba(0,0,0,0.75);
}
.navbar-brand {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 calc(var(--nav-spacing) - 0.3em);
  padding-bottom: 1em;
}
.navbar-nav {
  width: 100%;
}
.nav-item {
  padding: 0 var(--nav-spacing);
}
  .nav-item:hover {
    background-color: #0a0c0d;
    transition: all ease 0.5s;
  }
.display-pic {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: var(--nav-spacing);
  -webkit-box-shadow: 10px 10px 16px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 16px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 16px -8px rgba(0,0,0,0.75);
}
.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.content {
  margin: 3em;
  position: absolute;
  left: 16em;
}
.content-title {
  font-weight: 600;
}
.content-section {
  margin-bottom: 2rem;
}
/* Resizing */
@media screen and (max-width: 768px) {
  .fixed-left {
    bottom: none;
    width: 100vw;
    height: 8vh;
  }
  .display-pic {
    display: none;
  }
  .content {
    top: 8vh;
    left: 0;
  }
  .navbar-brand {
    padding: 0.8em;
  }
  .navbar-toggler {
    display: block;
  }
  .navbar-nav {
    background-color: #222;
    width: 100vw;
  }
  .content {
    margin: 1em;
  }
}